.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.block{
  border : 2px solid black;
  height: 100px;
  width: 100px;
  border-radius: 17px;
  padding: 4px;
  margin: 5px;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 500;
}

.block:hover{
  background-color: aliceblue;
}

.board{
  padding: 20px;
  margin: 20px;
  align-items: center;
  border: 3px solid;
  display: inline-block;
  background-color: aqua;
}

.row{
  display: flex;
}
